{% extends 'base.html' %}
{% load static %}

{% block role_cards %}
    <section class="main-container">
        <div class="content mx-auto">
            <div class="text-center header-section mx-auto pt-md-5 pb-md-4">
                <h1>Join Diguidou Community</h1>
                <p class="lead">
                    The Community is an active and collaborative place to help each other and to learn more about
                    kindergartens, their workflow
                </p>
                <button class="btn rounded-pill btn-lg">Join now</button>
            </div>
            <div class="w-100 py-3">
                <p class="role-select">
                    Select your role to get personalized community content
                </p>
                <div class="row role-cards gap-3 mx-auto">
                    <div class="role-card d-flex flex-column col-4 justify-content-between text-center kindergarten">
                        <h4>Kindergarten</h4>
                        <img src="{% static 'images/pic.png' %}" alt="">
                    </div>
                    <div class="role-card d-flex flex-column col-4 justify-content-between text-center parent">
                        <h4>Parent</h4>
                        <img src="{% static 'images/pic (1).png' %}" alt="">
                    </div>
                    <div class="role-card d-flex flex-column col-4 justify-content-between text-center educator">
                        <h4>Educator</h4>
                        <img src="{% static 'images/pic (2).png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block feed %}
    <section class="feed-section mx-auto">
        <div class="d-flex justify-content-between header">
            <h4 class="mb-0">Recent community feed</h4>
            <div class="d-flex dropdown-sorting">
                <span>Sort:</span>
                <div class="dropdown ms-2 sort-dropdown">
                    <div class="dropdown-icon dropdown-toggle selected-sort" data-bs-toggle="dropdown"
                         aria-expanded="false">
                        Most recent <i class="fa-solid fa-arrow-down-long"></i>
                    </div>
                    <ul class="dropdown-menu selectedSortValueDisplay">
                        <li>
                            <button class="dropdown-item" type="button" data-value="m-recent">Most recent <i
                                    class="fa-solid fa-arrow-down-long"></i>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="button" data-value="l-recent">Least recent <i
                                    class="fa-solid fa-arrow-up-long"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="news-section col-12 col-md-12 col-lg-8">
            <div class="feed-card pb-3 mb-4 border-bottom">
                <div class="d-flex justify-content-between">
                    <a href="{% url 'detail' %}" class="text-decoration-none text-dark">
                <h3>"Building a Bright Future Together in the Kindergarten Community!”</h3>
                    </a>
                    <img src="{% static 'images/Type=Kindergarten.png' %}" alt="" width="24" height="24">
                </div>
                <p>Join an active and inclusive kindergarten community, where children learn, play, and grow together in
                    a nurturing environment filled with joy and exploration.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-2 button">
                        <span class="btn rounded-pill article">Article</span>
                        <span class="btn rounded-pill commissions">Commissions</span>
                        <span class="btn  text-dark rounded-pill commissions">Payments</span>
                        <span class="btn  text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                        <span class="btn  text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                    </div>
                    <div class="d-flex align-items-end gap-1">
                        <img src="{% static 'images/Ellipse.png' %}" alt="" width="20" height="20">
                        <span class="">Leonard Lee</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 mb-md-0 mb-lg-0">
                    <div class="d-flex gap-3">
                        {# <span>❤️ 32</span>#}
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> 32</span>
                        <span>💬 150</span>
                    </div>
                    <div><span class="text-muted">22/10/2024</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="feed-card pb-3 mb-4 border-bottom">
                <div class="d-flex justify-content-between">
                <h3>"Building a Bright Future Together in the Kindergarten Community!”</h3>
                    <img src="{% static 'images/Type=Parent.png' %}" alt="" width="24" height="24">
                </div>
                <p>Join an active and inclusive kindergarten community, where children learn, play, and grow together in
                    a nurturing environment filled with joy and exploration.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-2 button">
                        <span class="btn rounded-pill discussion">Discussion</span>
                        <span class="btn text-dark rounded-pill commissions ">Payments</span>
                        <span class="btn text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                    </div>
                    <div class="d-flex align-items-end gap-1">
                        <img src="{% static 'images/Ellipse.png' %}" alt="" width="20" height="20">
                        <span class="">Leonard Lee</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 mb-md-0 mb-lg-0">
                    <div class="d-flex gap-3">
                        {# <span>❤️ 32</span>#}
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> 32</span>
                        <span>💬 150</span>
                    </div>
                    <div><span class="text-muted">22/10/2024</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="feed-card pb-3 mb-4 border-bottom">
                <div class="d-flex justify-content-between">
                <h3>"Building a Bright Future Together in the Kindergarten Community!”</h3>
                    <img src="{% static 'images/Type=Educator.png' %}" alt="" width="24" height="24">
                </div>
                <p>Join an active and inclusive kindergarten community, where children learn, play, and grow together in
                    a nurturing environment filled with joy and exploration.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-2 button">
                        <span class="btn rounded-pill discussion">Discussion</span>
                        <span class="btn rounded-pill commissions">Commissions</span>
                        <span class="btn bg-light text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                    </div>
                    <div class="d-flex align-items-end gap-1">
                        <img src="{% static 'images/Ellipse.png' %}" alt="" width="20" height="20">
                        <span class="">Leonard Lee</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 mb-md-0 mb-lg-0">
                    <div class="d-flex gap-3">
                        {# <span>❤️ 32</span>#}
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> 32</span>
                        <span>💬 150</span>
                    </div>
                    <div><span class="text-muted">22/10/2024</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="feed-card pb-3 mb-4 border-bottom">
                <div class="d-flex justify-content-between">
                <h3>"Building a Bright Future Together in the Kindergarten Community!”</h3>
                    <img src="{% static 'images/Type=Parent.png' %}" alt="" width="24" height="24">
                </div>
                <p>Join an active and inclusive kindergarten community, where children learn, play, and grow together in
                    a nurturing environment filled with joy and exploration.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-2 button">
                        <span class="btn rounded-pill discussion">Discussion</span>
                        <span class="btn rounded-pill commissions">Commissions</span>
                        <span class="btn bg-light text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                    </div>
                    <div class="d-flex align-items-end gap-1">
                        <img src="{% static 'images/Ellipse.png' %}" alt="" width="20" height="20">
                        <span class="">Leonard Lee</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 mb-md-0 mb-lg-0">
                    <div class="d-flex gap-3">
                        {# <span>❤️ 32</span>#}
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> 32</span>
                        <span>💬 150</span>
                    </div>
                    <div><span class="text-muted">22/10/2024</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="feed-card pb-3 mb-4 border-bottom">
                <div class="d-flex justify-content-between">
                <h3>"Building a Bright Future Together in the Kindergarten Community!”</h3>
                    <img src="{% static 'images/Type=Kindergarten.png' %}" alt="" width="24" height="24">
                </div>
                <p>Join an active and inclusive kindergarten community, where children learn, play, and grow together in
                    a nurturing environment filled with joy and exploration.</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-2 button">
                        <span class="btn rounded-pill discussion">Discussion</span>
                        <span class="btn rounded-pill commissions">Commissions</span>
                        <span class="btn bg-light text-dark rounded-pill tag170widthmax">Tag170widthmax</span>
                    </div>
                    <div class="d-flex align-items-end gap-1">
                        <img src="{% static 'images/Ellipse.png' %}" alt="" width="20" height="20">
                        <span class="">Leonard Lee</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-3 mb-md-0 mb-lg-0">
                    <div class="d-flex gap-3">
                        {# <span>❤️ 32</span>#}
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> 32</span>
                        <span>💬 150</span>
                    </div>
                    <div><span class="text-muted">22/10/2024</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class=" my-4">
                <button class="btn btn-outline-primary rounded-pill">Load More</button>
            </div>
        </div>
    </section>
{% endblock %}
